<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqGAj7u3K9kPTpnbsbpvniNUG7P2kbPnc</string>
	<key>GCM_SENDER_ID</key>
	<string>151555392034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thePerfectHomeZm</string>
	<key>PROJECT_ID</key>
	<string>the-perfect-home-zm</string>
	<key>STORAGE_BUCKET</key>
	<string>the-perfect-home-zm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151555392034:ios:cb21c904a5dab44d71007b</string>
</dict>
</plist>